@font-face {
    font-family: 'GlobalFont';
    src: url('/fonts/Product\ Sans\ Regular.ttf') format('ttf'),
        url('/fonts/Product\ Sans\ Italic.ttf') format('ttf'),
        url('/fonts/Product\ Sans\ Bold.ttf') format('ttf'),
        url('/fonts/Product\ Sans\ Bold\ Italic.ttf') format('ttf')
}

:root {
    --main-color: rgba(0, 0, 0, 0.9);
    --main-color-2: rgba(0, 0, 0, 0.4);
    --main-bg-color: rgb(36, 36, 36);
    --main-hd-color: rgba(255, 255, 255, 0.9);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: var(--main-hd-color);
    text-align: center;
}

.content {
    width: 600px;
    margin: 0 auto;
    padding: 2rem;
}

html,
body {
    font-family: 'GlobalFont', sans-serif;
    background-color: var(--main-bg-color);
}


h1,
h2,
h3 {
    font-weight: 400;
}

h1 {
    font-size: 30pt;
}

#search {
    width: 30%;
    font-size: 8pt;
    margin: 1rem auto;
    background-color: transparent;
    padding: 16px;
    text-align: center;
    border: 0;
    border-bottom: 2px solid var(--main-color-2);
}

#search[type=text]:focus {
    border-bottom: 2px solid var(--main-color);
}

button {
    background-color: var(--main-color-2);
    border: none;
    color: white;
    padding: 19px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8pt;
    margin-left: 10px;
}

button:hover {
    background-color: var(--main-color);
    color: white;
}

textarea,
select,
input,
button {
    outline: none;
}

.text-white {
    color: white;
}

ul {
    list-style: none;
    margin: auto;
    
}

li input {
    float: left;
    margin-right: 20px;
}

li {
    padding: 5px;
}

section {
    margin-top: 240px;
}

.show {
    display: flex !important;
}

.popup {
    z-index: 99;
    background-color:  var(--main-hd-color);
    max-height: 90vh;
}

.popup ul{
    margin-bottom: 1.5rem;
    padding-left: 0px;
}


.popup button{
    margin-left: 0;
    margin-right: 10px;
}

#modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}