<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Deblaoter</title>
  <link rel="stylesheet" href="css/main.css">
  <script defer src="./node_modules/vue/dist/vue.min.js"></script>
  <script defer src="./js/core.js"></script>
</head>

<body>



  <main>
    <header>
      <div class="content">
        <h1><b>Deamon</b> Debloater</h1>
        <input id="search" type="text" v-model="search" placeholder="search package..." />
        <button v-on:click=openpopup :disabled="!ready">uninstall</button>
      </div>
    </header>

    <div id="modal">
      <div class="popup content ">
        <h2>Selected Apps</h2>
        
        <ul v-if="selectedApps.length > 0">
          <li v-for="app in selectedApps">
            <input class="checkmark" v-model="selectedApps" :value="app" type="checkbox">
            <span>{{ app }}</span>
          </li>
        </ul>
        <button v-if="selectedApps.length > 0" v-on:click=deleteApps :disabled="!ready">uninstall</button>
        <p v-else>none</p>
        <button v-on:click=openpopup>close</button>
      </div>

    </div>

    <section>
      <div id="lists" class="content text-white">
        <ul>
          <li v-for="app in filterApps">
            <input class="checkmark" v-model="selectedApps" :value="app" type="checkbox">
            <span>{{ app }}</span>
          </li>
        </ul>
      </div>
    </section>
  </main>
</body>

</html>